@charset "UTF-8";
/* 基本样式 */
/* base */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'microsoft yahei'; }

body, p, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dt, dd {
  margin: 0;
  padding: 0; }

ul, li, ol {
  list-style: none; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.float-none {
  float: none !important; }

.cf {
  clear: both; }

.cf:before, .cf:after {
  content: "";
  display: table;
  clear: both; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ver-top {
  vertical-align: top !important; }

.ver-middle {
  vertical-align: middle !important; }

.ver-bottom {
  vertical-align: bottom !important; }

.ver-base {
  vertical-align: -50% !important; }

.rel {
  position: relative !important; }

.abs {
  position: absolute !important;
  z-index: 99; }

.cur-pointer {
  cursor: pointer; }

.nop {
  white-space: nowrap; }

.hide {
  display: none; }

.inline {
  display: inline-block !important;
  width: auto !important; }

.block {
  display: block !important;
  width: 100% !important; }

.link {
  cursor: pointer;
  text-decoration: none;
  color: #409EFF; }

.link:hover {
  text-decoration: underline; }

@font-face {
  font-family: 'ui-icon';
  src: url(/web-vrsp-agent-vamp/static/chunk/asset/ui-icon.2614df.woff) format("woff"), url(/web-vrsp-agent-vamp/static/chunk/asset/ui-icon.d9f6a5.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

.ui-icon {
  font-family: 'ui-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.2em;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-track {
  border-radius: 5px; }

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #ddd; }

::-webkit-scrollbar-thumb:active {
  background: #999; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #EBEBEB; }

.color-black {
  color: #000 !important; }

.color-white {
  color: #FFF !important; }

.color-blue {
  color: #409EFF !important; }

.color-green {
  color: #67C23A !important; }

.color-yellow {
  color: #E6A23C !important; }

.color-red {
  color: #F56C6C !important; }

.color-gray {
  color: #909399 !important; }

.color-dark-1 {
  color: #303133 !important; }

.color-dark-2 {
  color: #606266 !important; }

.color-dark-3 {
  color: #909399 !important; }

.color-dark-4 {
  color: #C0C4CC !important; }

.color-light-1 {
  color: #DCDFE6 !important; }

.color-light-2 {
  color: #E4E7ED !important; }

.color-light-3 {
  color: #EBEEF5 !important; }

.color-light-4 {
  color: #F2F6FC !important; }

.bgc-black {
  background-color: #000 !important; }

.bgc-white {
  background-color: #FFF !important; }

.bgc-blue {
  background-color: #409EFF !important; }

.bgc-green {
  background-color: #67C23A !important; }

.bgc-yellow {
  background-color: #E6A23C !important; }

.bgc-red {
  background-color: #F56C6C !important; }

.bgc-gray {
  background-color: #909399 !important; }

.bgc-dark-1 {
  background-color: #303133 !important; }

.bgc-dark-2 {
  background-color: #606266 !important; }

.bgc-dark-3 {
  background-color: #909399 !important; }

.bgc-dark-4 {
  background-color: #C0C4CC !important; }

.bgc-light-1 {
  background-color: #DCDFE6 !important; }

.bgc-light-2 {
  background-color: #E4E7ED !important; }

.bgc-light-3 {
  background-color: #EBEEF5 !important; }

.bgc-light-4 {
  background-color: #F2F6FC !important; }

.font-xs {
  font-size: 12px !important; }

.font-sm {
  font-size: 14px !important; }

.font-md {
  font-size: 16px !important; }

.font-bg {
  font-size: 18px !important; }

.font-lg {
  font-size: 24px !important; }

.font-hg {
  font-size: 38px !important; }

.mg-0 {
  margin: 0 !important; }

.mg-xs {
  margin: 5px !important; }

.mg-sm {
  margin: 10px !important; }

.mg-md {
  margin: 15px !important; }

.mg-bg {
  margin: 20px !important; }

.mg-lg {
  margin: 30px !important; }

.mg-hg {
  margin: 50px !important; }

.mgt-0 {
  margin-top: 0 !important; }

.mgt-xs {
  margin-top: 5px !important; }

.mgt-sm {
  margin-top: 10px !important; }

.mgt-md {
  margin-top: 15px !important; }

.mgt-bg {
  margin-top: 20px !important; }

.mgt-lg {
  margin-top: 30px !important; }

.mgt-hg {
  margin-top: 50px !important; }

.mgr-0 {
  margin-right: 0 !important; }

.mgr-xs {
  margin-right: 5px !important; }

.mgr-sm {
  margin-right: 10px !important; }

.mgr-md {
  margin-right: 15px !important; }

.mgr-bg {
  margin-right: 20px !important; }

.mgr-lg {
  margin-right: 30px !important; }

.mgr-hg {
  margin-right: 50px !important; }

.mgb-0 {
  margin-bottom: 0 !important; }

.mgb-xs {
  margin-bottom: 5px !important; }

.mgb-sm {
  margin-bottom: 10px !important; }

.mgb-md {
  margin-bottom: 15px !important; }

.mgb-bg {
  margin-bottom: 20px !important; }

.mgb-lg {
  margin-bottom: 30px !important; }

.mgb-hg {
  margin-bottom: 50px !important; }

.mgl-0 {
  margin-left: 0 !important; }

.mgl-xs {
  margin-left: 5px !important; }

.mgl-sm {
  margin-left: 10px !important; }

.mgl-md {
  margin-left: 15px !important; }

.mgl-bg {
  margin-left: 20px !important; }

.mgl-lg {
  margin-left: 30px !important; }

.mgl-hg {
  margin-left: 50px !important; }

.pd-0 {
  padding: 0 !important; }

.pd-xs {
  padding: 5px !important; }

.pd-sm {
  padding: 10px !important; }

.pd-md {
  padding: 15px !important; }

.pd-bg {
  padding: 20px !important; }

.pd-lg {
  padding: 30px !important; }

.pd-hg {
  padding: 50px !important; }

.pdtb-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.pdtb-xs {
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

.pdtb-sm {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.pdtb-md {
  padding-top: 15px !important;
  padding-bottom: 15px !important; }

.pdtb-bg {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.pdtb-lg {
  padding-top: 30px !important;
  padding-bottom: 30px !important; }

.pdtb-hg {
  padding-top: 50px !important;
  padding-bottom: 50px !important; }

.pdt-0 {
  padding-top: 0 !important; }

.pdt-xs {
  padding-top: 5px !important; }

.pdt-sm {
  padding-top: 10px !important; }

.pdt-md {
  padding-top: 15px !important; }

.pdt-bg {
  padding-top: 20px !important; }

.pdt-lg {
  padding-top: 30px !important; }

.pdt-hg {
  padding-top: 50px !important; }

.pdr-0 {
  padding-right: 0 !important; }

.pdr-xs {
  padding-right: 5px !important; }

.pdr-sm {
  padding-right: 10px !important; }

.pdr-md {
  padding-right: 15px !important; }

.pdr-bg {
  padding-right: 20px !important; }

.pdr-lg {
  padding-right: 30px !important; }

.pdr-hg {
  padding-right: 50px !important; }

.pdb-0 {
  padding-bottom: 0 !important; }

.pdb-xs {
  padding-bottom: 5px !important; }

.pdb-sm {
  padding-bottom: 10px !important; }

.pdb-md {
  padding-bottom: 15px !important; }

.pdb-bg {
  padding-bottom: 20px !important; }

.pdb-lg {
  padding-bottom: 30px !important; }

.pdb-hg {
  padding-bottom: 50px !important; }

.pdl-0 {
  padding-left: 0 !important; }

.pdl-xs {
  padding-left: 5px !important; }

.pdl-sm {
  padding-left: 10px !important; }

.pdl-md {
  padding-left: 15px !important; }

.pdl-bg {
  padding-left: 20px !important; }

.pdl-lg {
  padding-left: 30px !important; }

.pdl-hg {
  padding-left: 50px !important; }

.width-xs {
  width: 80px !important; }

.width-sm {
  width: 160px !important; }

.width-md {
  width: 240px !important; }

.width-bg {
  width: 320px !important; }

.width-lg {
  width: 400px !important; }

.width-hg, 480px {
  width: full, 100% !important; }

.width-half {
  width: 50% !important; }

.width-full {
  width: 100% !important; }

/*border*/
.bd-1 {
  border: 1px solid #F2F6FC !important;
  /*no*/ }

.bdt-1 {
  border-top: 1px solid #F2F6FC !important;
  /*no*/ }

.bdb-1 {
  border-bottom: 1px solid #F2F6FC !important;
  /*no*/ }

.bdl-1 {
  border-left: 1px solid #F2F6FC !important;
  /*no*/ }

.bdr-1 {
  border-right: 1px solid #F2F6FC !important;
  /*no*/ }

.bdtb-1 {
  border-top: 1px solid #F2F6FC !important;
  /*no*/
  border-bottom: 1px solid #F2F6FC !important;
  /*no*/ }

.bdlr-1 {
  border-left: 1px solid #F2F6FC !important;
  /*no*/
  border-right: 1px solid #F2F6FC !important;
  /*no*/ }

.bd-0 {
  border: none !important;
  /*no*/ }

.bdt-0 {
  border-top: none !important;
  /*no*/ }

.bdb-0 {
  border-bottom: none !important;
  /*no*/ }

.bdl-0 {
  border-left: none !important;
  /*no*/ }

.bdr-0 {
  border-right: none !important;
  /*no*/ }

